body#flash {
  font-size: medium;
  padding: 3px;
}

.number-flash-container {
  background-color: #333;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-flash-container__display {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  letter-spacing: 5px;
  color: white;
  font-size: 72px;
  height: 1em;
  width: 7em;
}

.command-container {
  text-align: center;
}

.command-container__result {
  padding: 1em;
  background-color: #A9DFBF;
  height: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 3.5em;
}

.command-container__annotation {
  color: #aaa;
  font-size: small;
  margin-top: 10px;
}

input.command-container__input {
  background-color: white;
  width: 10em;
}

input::-ms-clear {
  visibility: hidden;
}

.correct-answer-rate__display {
  padding: 1em;
  background-color: #c1f0d3;
  height: auto;
  margin-bottom: 20px;
  height: auto;
}

.setting-container {
  max-width: 1200px;
  margin: 10px auto;
  width: 100%;
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 150px;
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 1em;
  height: auto;
}

.setting-container__select form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.setting-container__select label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}
.setting-container__select label input {
  position: absolute;
  left: -9999px;
}
.setting-container__select label input:checked + span {
  background-color: #d6d6e5;
}
.setting-container__select label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}
.setting-container__select label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
.setting-container__select label span:hover {
  background-color: #d6d6e5;
}
.setting-container__select label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}

.correct-answer-rate__display ul {
  list-style-type: none;
}

.menu_list {
  height: 150px;
}

.pagination {
  list-style: none;
}

.pagination li {
  display: inline-block;
  margin: 0 0.5em;
  cursor: pointer;
}
