@import "compass";

$radius: 10px;
$boxShadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);

body#flash{
    font-size: medium;
    padding: 3px;
}
.number-flash-container {
    background-color: #333;
    box-shadow: $boxShadow;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    height: 128px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.number-flash-container__display {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    text-align: center;
    letter-spacing: 5px;
    color: white;
    font-size: 72px;
    height: 1em;
    width: 7em;
}

.command-container {
    text-align: center;
}
.command-container__result {
    padding: 1em;
    background-color: #A9DFBF;
    height: auto;
    box-shadow: $boxShadow;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    height: 3.5em;
}
.command-container__annotation {
    color: #aaa;
    font-size: small;
    margin-top: 10px;
}
input.command-container__input {
    background-color: white;
    width: 10em;
}
input::-ms-clear {
    visibility: hidden;
}

.correct-answer-rate__display{
    padding: 1em;
    background-color: #c1f0d3;
    height: auto;
    margin-bottom: 20px;
    box-shadow: $boxShadow;
    border-radius: $radius;
    height: auto;

}

.setting-container__select {
  $primary-color: #00005c; 
  $text-color: mix(#000, $primary-color, 64%);
  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;

    input {
      position: absolute;
      left: -9999px;
      &:checked + span {
        background-color: mix(#fff, $primary-color, 84%);
        &:before {
          box-shadow: inset 0 0 0 0.4375em $primary-color;
        }
      }
    }
    span {
      display: flex;
      align-items: center;
      padding: 0.375em 0.75em 0.375em 0.375em;
      border-radius: 99em; // or something higher...
      transition: 0.25s ease;
      &:hover {
        background-color: mix(#fff, $primary-color, 84%);
      }
      &:before {
        display: flex;
        flex-shrink: 0;
        content: "";
        background-color: #fff;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        margin-right: 0.375em;
        transition: 0.25s ease;
        box-shadow: inset 0 0 0 0.125em $primary-color;
      }
    }
  }
}

.correct-answer-rate__display ul {
    list-style-type: none;
}

.menu_list {
    height: 150px;
}

.pagination {
    list-style: none;
}

.pagination li {
    display: inline-block;
    margin: 0 0.5em;
    cursor: pointer;
}
