body#flash {
  font-size: medium;
}

.number-flash-container {
  background-color: #333;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

.number-flash-container__display {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  letter-spacing: 5px;
  margin: 0.5em auto;
  padding-top: 1em;
  color: white;
  font-size: 5em;
  height: 3.2em;
}

.command-container {
  text-align: center;
}

.command-container__result {
  padding: 1em;
  background-color: #A9DFBF;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 3.5em;
}

input.command-container__input {
  background-color: white;
  width: 10em;
}

input::-ms-clear {
  visibility: hidden;
}

.setting-container__select form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.setting-container__select label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
  /* Accessible outline */
  /* Remove comment to use */
  /*
    &:focus-within {
        outline: .125em solid $primary-color;
    }
  */
}
.setting-container__select label input {
  position: absolute;
  left: -9999px;
}
.setting-container__select label input:checked + span {
  background-color: #d6d6e5;
}
.setting-container__select label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}
.setting-container__select label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
.setting-container__select label span:hover {
  background-color: #d6d6e5;
}
.setting-container__select label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}
