@import "compass";

$text-color: #555;
$point-color: #00cccc;
$radius: 10px;

*,
*:after,
*:before {
  box-sizing: border-box;
}

input {
  font-size: 20px;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  color: $text-color;
}

[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
}

@for $i from 1 through 5 {
  .spacer--#{$i}em {
    height: #{$i}em;
    clear: both;
  }
}
.clr {
  clear: both;
}

#history {
  border-radius: $radius;
  width: 400px;
  padding: 1em;
  background-color: #9fdbad;
  line-height: 1.5em;
}
