*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
body {
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo, sans-serif;
    color: #555;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.spacer {
    height: 4em;
    clear: both;
}
.clr {
    clear: both;
}

input {
    font-size: large;
    width: 3em;
    background-color: powderblue;
    margin: 5px;
}
#ipt {
    display: none;
}
.container {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 400px;
    height: 360px;
    text-align: center;
}
#number-display {
    width: 100%;
    height: 100px;
    padding: 20px 40px;
    background: #00c988;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: right;
    color: #ffffff;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
}

.button-container {
    padding: 0.5em;
}

button {
    width: 2em;
    height: 2em;
    float: left;
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
    background: #ecedef;
    border: none;
    font-size: 2em;
    line-height: 2em;
    border-radius: 50%;
    font-weight: 700;
    color: #5E5858;
    cursor: pointer;
}

.point-color {
 background: #00c988;
 color: #ffffff;
}

#circle span {
    display: block;
    float: left;
    position: relative;
}
span:before {
    color: #555;
    font-size: 0.3em;
    line-height: 0.5em;
    top: -1em;
    left: 0.8em;
    position: absolute;
}
span#c1:before {
    content: "1";
    left: 0.7em;
}
span#c2:before {
    content: "2";
}
span#c3:before {
    content: "3";
}
span#c4:before {
    content: "4";
    left: 0.7em;
}
span#c5:before {
    content: "5";
}
span#c6:before {
    content: "6";
}
span#c7:before {
    content: "7";
}
span#c8:before {
    content: "8";
}
span#c9:before {
    content: "9";
}
span#c10:before {
    content: "10";
    left: 0.4em;
}

span:after {
    color: #555;
    font-size: 0.3em;
    line-height: 0.5em;
    top: 0.8em;
    left: -0.8em;
    position: absolute;
}
span#c1:after {
    content: "1";
}
span#c11:after {
    content: "2";
}
span#c21:after {
    content: "3";
}
span#c31:after {
    content: "4";
}
span#c41:after {
    content: "5";
}
span#c51:after {
    content: "6";
}
span#c61:after {
    content: "7";
}
span#c71:after {
    content: "8";
}
span#c81:after {
    content: "9";
}
span#c91:after {
    content: "10";
    left: -1.2em;
}


#circle, #circle2 {
    margin-left: 1em;
    color: #ddd;
    font-size: 3em;
    line-height: 0.6em;
}
.first-pressed-circle {
    color: #FE5E54;
}
.second-pressed-circle {
    color:  #FCD200;
}
.multi-pressed-circle {
    color:  #FFB3C1;
}
#history {
    border-radius: 10px;
    width: 400px;
    padding: 1em;
    background-color: #9fdbad;
    line-height: 1.5em;
}