*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  color: #555;
}

[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
}

.spacer {
  height: 4em;
  clear: both;
}

.clr {
  clear: both;
}

body#plus input, body#multi input {
  font-size: large;
  width: 3em;
  background-color: powderblue;
  margin: 5px;
}
body#plus #ipt, body#multi #ipt {
  display: none;
}
body#plus .container, body#multi .container {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 400px;
  height: 360px;
  text-align: center;
}
body#plus #number-display, body#multi #number-display {
  width: 100%;
  height: 100px;
  padding: 20px 40px;
  background: #00c988;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: right;
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}
body#plus .button-container, body#multi .button-container {
  padding: 0.5em;
}
body#plus button, body#multi button {
  width: 2em;
  height: 2em;
  float: left;
  padding: 0;
  margin: 5px;
  box-sizing: border-box;
  background: #ecedef;
  border: none;
  font-size: 2em;
  line-height: 2em;
  border-radius: 50%;
  font-weight: 700;
  color: #5e5858;
  cursor: pointer;
}
body#plus button:active, body#multi button:active {
  background-color: rgba(0, 0, 0, 0.2);
}
body#plus .point-color, body#multi .point-color {
  background: #00c988 !important;
  color: #ffffff !important;
}
body#plus #circle span, body#multi #circle span {
  display: block;
  float: left;
  position: relative;
}
body#plus #circle span:before, body#multi #circle span:before {
  color: #555;
  font-size: 0.3em;
  line-height: 0.5em;
  top: -1em;
  left: 0.8em;
  position: absolute;
}
body#plus span#c1:before, body#multi span#c1:before {
  content: "1";
  left: 0.7em;
}
body#plus span#c2:before, body#multi span#c2:before {
  content: "2";
}
body#plus span#c3:before, body#multi span#c3:before {
  content: "3";
}
body#plus span#c4:before, body#multi span#c4:before {
  content: "4";
  left: 0.7em;
}
body#plus span#c5:before, body#multi span#c5:before {
  content: "5";
}
body#plus span#c6:before, body#multi span#c6:before {
  content: "6";
}
body#plus span#c7:before, body#multi span#c7:before {
  content: "7";
}
body#plus span#c8:before, body#multi span#c8:before {
  content: "8";
}
body#plus span#c9:before, body#multi span#c9:before {
  content: "9";
}
body#plus span#c10:before, body#multi span#c10:before {
  content: "10";
  left: 0.4em;
}
body#plus span:after, body#multi span:after {
  color: #555;
  font-size: 0.3em;
  line-height: 0.5em;
  top: 0.8em;
  left: -0.8em;
  position: absolute;
}
body#plus span#c1:after, body#multi span#c1:after {
  content: "1";
}
body#plus span#c11:after, body#multi span#c11:after {
  content: "2";
}
body#plus span#c21:after, body#multi span#c21:after {
  content: "3";
}
body#plus span#c31:after, body#multi span#c31:after {
  content: "4";
}
body#plus span#c41:after, body#multi span#c41:after {
  content: "5";
}
body#plus span#c51:after, body#multi span#c51:after {
  content: "6";
}
body#plus span#c61:after, body#multi span#c61:after {
  content: "7";
}
body#plus span#c71:after, body#multi span#c71:after {
  content: "8";
}
body#plus span#c81:after, body#multi span#c81:after {
  content: "9";
}
body#plus span#c91:after, body#multi span#c91:after {
  content: "10";
  left: -1.2em;
}
body#plus #circle,
body#plus #circle2, body#multi #circle,
body#multi #circle2 {
  margin-left: 1em;
  color: #ddd;
  font-size: 3em;
  line-height: 0.6em;
}
body#plus .first-pressed-circle, body#multi .first-pressed-circle {
  color: #fe5e54;
}
body#plus .second-pressed-circle, body#multi .second-pressed-circle {
  color: #fcd200;
}
body#plus .multi-pressed-circle, body#multi .multi-pressed-circle {
  color: #ffb3c1;
}
body#plus #history, body#multi #history {
  border-radius: 10px;
  width: 400px;
  padding: 1em;
  background-color: #9fdbad;
  line-height: 1.5em;
}
body#plus #times-tables table, body#multi #times-tables table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  width: 100%;
}
body#plus td, body#multi td {
  color: #555;
}
body#plus th,
body#plus td, body#multi th,
body#multi td {
  text-align: right;
  color: #999;
  border: 1px solid #eee;
  padding: 12px 5px;
  border-collapse: collapse;
}
body#plus th, body#multi th {
  background: #00cccc;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
}

/* flash */
#flash {
  font-size: medium;
}
#flash .container {
  background-color: #333;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}
#flash .number-flash {
  text-align: center;
  letter-spacing: 5px;
  margin: 0.5em auto;
  padding-top: 1em;
  color: white;
  font-size: 5em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  height: 3.2em;
}
#flash input {
  background-color: white;
  width: 10em;
}
#flash input::-ms-clear {
  visibility: hidden;
}
#flash .answer {
  text-align: center;
}
#flash #result {
  padding: 1em;
  background-color: #A9DFBF;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  height: 3.5em;
}

#flash .select form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#flash .select label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
  /* Accessible outline */
  /* Remove comment to use */
  /*
    &:focus-within {
        outline: .125em solid $primary-color;
    }
  */
}
#flash .select label input {
  position: absolute;
  left: -9999px;
}
#flash .select label input:checked + span {
  background-color: #d6d6e5;
}
#flash .select label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}
#flash .select label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
#flash .select label span:hover {
  background-color: #d6d6e5;
}
#flash .select label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}
